---
layout: default
---

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<div class="posts">

  {% if paginator.page == 1 %}
  {% include search.html %}
  {% endif%}

  {% for post in paginator.posts %}
    <article class="post">
      <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>

      <div clsss="meta">
        <span class="date">
          {{ post.date | date: "%Y-%m-%d" }}
        </span>

        <ul class="tag">
          {% for tag in post.tags %}
          <li>
            <a href="{{ site.baseurl }}/tags.html#{{ tag }}">
              {{ tag }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">阅读更多</a>
    </article>
  {% endfor %}
</div>

<script> pangu.spacingPage(); </script>

<div class="pagination">
  {% if paginator.previous_page %}
    <span class="prev">
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
        前一页
      </a>
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <span class="next">
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        后一页
      </a>
    </span>
  {% endif %}
</div>

{% if paginator.page == 1 %}

<form method="POST" action="https://formspree.io/jupiter.ben@live.com">
  <input type="email" name="email" placeholder="邮箱（请勿使用 qq 邮箱）" style="line-height:2; min-width:220px;" required/>
  <input type="text" name="message" placeholder="留言（可选）" style="line-height:2; min-width:220px;">
  <button type="submit" style="line-height:2;">邮件订阅</button>
</form>

{% endif %}
